# Cartelle generate da Visual Studio
.vs/
x64/
x86/
Debug/
Release/
*.ilk
*.pdb
*.obj
*.exe
*.log

# File di stato utente (specifici della tua macchina, non vanno condivisi)
*.vcxproj.user
*.suo

# Immagini renderizzate (spesso pesanti, generate dal programma)
*.ppm
*.png